@* ----------------------------------------------------------------------- *

    * GeneralSettings.razor

    ----------------------------------------------------------------------

    Copyright (C) 2022, Turgut Hakki Ozdemir
    All Rights Reserved.

    THIS SOFTWARE IS PROVIDED 'AS-IS', WITHOUT ANY EXPRESS
    OR IMPLIED WARRANTY. IN NO EVENT WILL THE AUTHOR(S) BE HELD LIABLE FOR
    ANY DAMAGES ARISING FROM THE USE OR DISTRIBITION OF THIS SOFTWARE

    Permission is granted to anyone to use this software for any purpose,
    including commercial applications, and to alter it and redistribute it
    freely, subject to the following restrictions:

    1. The origin of this software must not be misrepresented; you must not
       claim that you wrote the original software.
    2. Altered source versions must be plainly marked as such, and must not be
       misrepresented as being the original software.
    4. Distributions in binary form must reproduce the above copyright notice
       and an acknowledgment of use of this software either in documentation
       or binary form itself.
    3. This notice may not be removed or altered from any source distribution.

    Turgut Hakkı Özdemir <turgut.hakki@gmail.com>

* ------------------------------------------------------------------------ *@
@namespace th.SimIO.ProjectManager
@inherits SimIOWindowLayout

@* ######################################################################## *@
<div ComponentName='@(GetType().Name)' class='@($"{@class} {GetType().Name} container")'>
  <div class="card">
    <label>Application Settings</label>
    <div class="property-page">
      <label>Projects directory</label> <DirectorySelector @ref="projectsDirectorySelector" window=@window mustExist=true @bind-path="settings.projectsPath"/>
    </div>
  </div>

  <div class="card">
    <label>Project settings</label>
    <div class="property-page">
      <label>Watch project directory</label> <input type="checkbox" checked='@settings.watchProjectDirectory' @bind-value="settings.watchProjectDirectory" @bind-value:event="oninput">
      <label>Watch subdirectories</label> <input type="checkbox" checked='@settings.watchSubDirectories' @bind-value="settings.watchSubDirectories" @bind-value:event="oninput">
      <label>Watch filter</label> <TextField @bind-value="settings.watchFilter"/>
      <label>Rebuild project on change</label> <input type="checkbox" checked='@settings.rebuildProjectsOnChange' @bind-value="settings.rebuildProjectsOnChange" @bind-value:event="oninput">
      <label>Run project on change</label> <input type="checkbox" checked='@settings.runProjectsOnChange' @bind-value="settings.runProjectsOnChange" @bind-value:event="oninput">
    </div>
  </div>

  <div class="dialog-response">
    <div>
      <button disabled=@(!isOk) @onclick='ok'>Ok</button>
      <button disabled=@(!isOk) @onclick='apply'>Apply</button>
      <button @onclick='cancel'>Cancel</button>
    </div>
  </div>
</div>

@* ######################################################################## *@
@code {
  // -------------------------------------------------------------------------
  [Parameter]
  public string @class {get; set;}

  // -------------------------------------------------------------------------
  ProjectManager.Settings settings = new ProjectManager.Settings();
  DirectorySelector projectsDirectorySelector;

  // -------------------------------------------------------------------------
  bool modified => !ProjectManager.settings.deepEquals(settings);
  bool error {
    get {
      return projectsDirectorySelector == null ? false : projectsDirectorySelector.hasError;
    }
  }
  bool isOk => modified;

  // -------------------------------------------------------------------------
  void ok()
  {
    if (error)
      return;
    apply();
    window.Close();
  }

  // -------------------------------------------------------------------------
  void apply()
  {
    if (error)
      return;
    ProjectManager.applySettings(settings.deepCopy());
  }

  // -------------------------------------------------------------------------
  void cancel()
  {
    window.Close();
  }

  // -------------------------------------------------------------------------
  [JSInvokable]
  public void onChange()
  {
    InvokeAsync(StateHasChanged);
  }

  // -------------------------------------------------------------------------
  protected override void OnInitialized()
  {
    settings = ProjectManager.settings.deepCopy();
    base.OnInitialized();
    window.Text = "Settings";
    SimIO.onInput += (d, e) => {
      if (e.identifier == Keyboard.escape && e.position == 1) {
        cancel();
      }
    };
    InvokeAsync(StateHasChanged);
  }
}
